*{
    margin: 0;
    padding: 0;

}
.main{
    background-image: url(assets/bg.jpg);
    height: 100vh;
    background-size: cover;
    border-bottom: 8px solid grey;
}
#email{
    background-color: black;
}
#email:hover{
    color: bisque;
}
.borders{
    border-bottom: 8px solid grey; 
}